:root {
    --step--2: clamp(0.78rem, calc(0.70rem + 0.38vw), 1.32rem);
    --step--1: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.65rem);
    --step-0: clamp(1.13rem, calc(0.99rem + 0.67vw), 2.06rem);
    --step-1: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.58rem);
    --step-2: clamp(1.62rem, calc(1.39rem + 1.14vw), 3.22rem);
    --step-3: clamp(1.94rem, calc(1.65rem + 1.49vw), 4.03rem);
    --step-4: clamp(2.33rem, calc(1.95rem + 1.93vw), 5.04rem);
    --step-5: clamp(2.80rem, calc(2.30rem + 2.50vw), 6.29rem);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

#userFeed {
    margin-left: calc(24.79vw + 32px);
    display: flex;
    flex-flow: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F2F6;
}

.postCard {
    background-color: white;
    border-radius: 25px;
    width: max(300px, 100%);
    padding: 16px 32px;
    font-size: var(--step-0)
}

.cardHeader {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.cardHeader div {
    display: flex;
    flex-flow: column nowrap;
}

.cardUserName {
    font-weight: 500;
}

.cardDate,
.cardFooter {
    color: #7D7373;
}

.cardHeader img {
    width: 4.44vw;
    height: 4.44vw;
    border: solid 1px;
    border-radius: 100%;
}

.cardBody p {
    padding: 16px 32px;
}

#userFeed .postCta {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#actionMsg {
    font-weight: 500;
}

input[name="postContent"] {
    background: white;
    border: none;
    padding: 16px 32px;
    width: calc(100%);
    max-width: 600px;
    border-radius: 50px;
}

button[name="postPost"],
.mediaInput {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39E168;
    border-radius: 50px;
    border: none;
    padding: 16px 32px;
    font-size: var(--step-0);
    cursor: pointer
}

button[name="postPost"]:hover,
.mediaInput:hover {
    background-color: #2B2626;
}

input[type="file"] {
    display: none;
}

.hiddenLabel {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.hide {
    display: none;
}

.reactionCta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 4vw;
    border-radius: 50px;
    background: #FFFF;
    box-shadow: 5px 5px 10px #dedede;
    animation: float 1.5s ease-out;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.reactionCta>button {
    width: 2vw;
    border: none;
    padding: 0;
    background: none;
}

.reactionCta>button:hover {
    transform: scale(1.1);

}

.hideCta {
    display: none !important;
}

.commentForm {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2%
}

.commentContent {
    min-width: 10vw;
    min-height: 2vw;

    border-color: #2B2626;
    border-radius: 30px;
    border: solid 1px;

    padding: 0.5vw;

    resize: none;

}

.postComment {
    background-color: #39E168;
    border-radius: 50px;
    border: none;
    padding: 0.4vw 1vw;
    font-size: var(--step-0);
    cursor: pointer
}

.reactionButton {
    border: none;
    padding: 0;
    color: none;
    background: none;
    margin: none;
    color: #7D7373;
    cursor: pointer;
}

.reactionList {
    width: max(50%, 40%);
    border-radius: 2vw;
    background: #FFFF;
    box-shadow: 5px 5px 10px #dedede;

}

.reactionContent {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: var(--step-0);
    padding-right: 10%;

    border: none;


    color: #000000;

}

.reactionEmoji {
    width: 2vw;
    justify-self: center;

}

#burgerMenu,
#closeMenu {
    border: none;
    padding: none;
    color: none;
    background: #39E168;

    border-radius: 50px;
    padding: 0.5rem 0.8rem;

    position: fixed;
    top: 3%;
    left: 7%;
    z-index: 2;

}

#burgerMenu>img,
#closeMenu>img {
    width: 4.44vw;
    cursor: pointer;




}

/* 
.fillAnimation {
    overflow: hidden;
}

.fillAnimation.active {
    animation: fillAnimation 5s ease;
}

@keyframes fillAnimation {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
} */
#fillAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: #ff0000;

    overflow: hidden;
}

#fillAnimation.active {
    animation: fillAnimation 5s ease;
}

.profxile {
    opacity: 0;
    transition: opacity 1s ease;
}

.profile.show {
    opacity: 1;
}

@keyframes fillAnimation {
    from {
        width: 0;
    }

    to {
        width: 100vw;
    }
}

@media (max-width: 720px) {
    #userFeed {
        justify-content: center;
        margin: 0px;
    }
}

@media (max-width: 650px) {
    .postCta>button {
        font-size: 16px;
        border-radius: 50px;
        padding: 0.2rem 0.4rem;
    }

    .mediaInput {
        border-radius: 50px;
        padding: 0.2rem 0.8rem;
    }
}

@media (max-width: 600px) {
    .postCta>button>img {
        width: 30px;
        padding-right: 4px;
    }

    #inputImage {
        width: 30px;
        padding-right: 4px;
    }

    main {
        padding: 0px;
    }
}

@media (max-width: 400px) {
    #postContent {
        width: 200px;
    }
}