main {
    margin-top: 128px;
    padding: 0 90px;
    width: 100%;
}

header {
    display: flex;
    padding: 16px 90px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header h1 {
    font-size: 24px;
    font-weight: 500;
}

.inputSearch {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 16px 32px;
    background-color: #F5FDF4;
    border-radius: 50px;
}

.inputSearch input {
    background-color: inherit;
    outline: none;
    border: none;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
}

.headerNav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.headerNav img {
    width: 64px;
    height: 64px;
    border-radius: 100px;

}

.headerCTA {
    border: none;
    color: black;
    padding: 16px 32px;
    background-color: #39E168;
    border-radius: 50px;
    cursor: pointer;
}

.unfollow {
    background-color: #e23535;
}

.unfollow:hover {
    background-color: #2B2626;
}


#closeModal {
    background-color: #e23535;
}

#closeModal:hover {
    background-color: indianred;
}

.headerCTA:hover {
    background-color: #2B2626;
}

#createModal {
    position: absolute;
    right: 25%;
    top: 25%;
    z-index: 2;
    padding: 16px 32px;
    background-color: #7D7373;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    gap: 16px;
}

#createModal div {
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-bottom: 16px;
}

.hide {
    display: none;
}

.hideCta {
    display: none !important;
}


#burgerMenu,
#closeMenu {
    border: none;
    background: #39E168;

    border-radius: 50px;
    padding: 0.5rem 0.8rem;

    position: fixed;
    top: 3%;
    left: 7%;
    z-index: 2;

}

#burgerMenu>img,
#closeMenu>img {
    width: 4.44vw;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {

    #friendsLayout,
    #pageLayout,
    #pagesLayout,
    #userFeed,
    #searchFeed {
        margin: 0;
    }

}

@media (max-width: 720px) {
    main {
        padding: 0 20px;

    }

}

@media (max-width: 650px) {
    .postCta>button {
        font-size: 16px;
        border-radius: 50px;
        padding: 0.2rem 0.4rem;
    }

    .mediaInput {
        border-radius: 50px;
        padding: 0.2rem 0.8rem;
    }
}

@media (max-width: 600px) {
    .postCta>button>img {
        width: 30px;
        padding-right: 4px;
    }

    #inputImage {
        width: 30px;
        padding-right: 4px;
    }

    main {
        padding: 0;
    }
}

@media (max-width: 400px) {
    #postContent {
        width: 200px;
    }
}